%form{:action=>"/login",:method=>"post"}
	%label
		Email: 
		%input{:type=>"text",:name=>"email"}
	%label
		Password:
		%input{:type=>"password",:name=>"password"}
	%button{:type=>"submit"} Log In!
%a{:href=>"/signup"} Sign Up!