body
	margin: 1em 2em
	font-family: verdana
	font-size: 10pt

h1, h2
	margin: 0.5em 0
	border-bottom: solid 1px #ddd
	
.question-text
	margin-bottom: 0
	
.answer-radios
	margin: 0

#user-id
	position: absolute
	top: 1em
	right: 2em

#flot-graph
	width: 400px
	height: 225px
	