%h2 Sign Up
%form{:action=>"signup",:method=>"post"}
	%table
		%tr
			%td Email:
			%td
				%input{:type=>"text",:name=>"email"}
		%tr
			%td Password:
			%td
				%input{:type=>"password",:name=>"password"}
		%tr
			%td
			%td
				%button{:type=>"submit"} Sign Up

